<ion-content class="intro-page">
  <swiper-container pagination="true" slides-per-view="1" class="intro-swiper">
    <swiper-slide *ngFor="let slide of slides">
      <div class="slide-wrapper">
        <div class="image-glow">
          <img [src]="slide.image" />
        </div>

        <div class="text-content">
          <h1>{{ slide.title }}</h1>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- ✅ Botón para ir al Home -->
  <div class="btn-floating" slot="fixed">
    <ion-button expand="block" (click)="goBack()"> 🎧 Comenzar </ion-button>
  </div>
</ion-content>
