<ion-content class="intro-page">
  <swiper-container
    pagination="true"
    slides-per-view="1"
    loop="false"
    class="intro-swiper"
  >
    <swiper-slide *ngFor="let slide of slides">
      <div class="slide-wrapper ion-text-center">
        <div class="icon-wrapper">
          <img [src]="slide.image" />
        </div>
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- ✅ Botón para ir al Home -->
  <div class="btn-container">
    <ion-button expand="block" (click)="goBack()"> 🎧 Comenzar </ion-button>
  </div>
</ion-content>
