body {
  background: var(--color-fondo);
  color: var(--color-texto);
}

.custom-menu {
 --background: var(--color-fondo, #121212);
}

.menu-header {
 padding: 40px 20px 20px;
  background: linear-gradient(
    135deg,
    var(--color-card),
    var(--color-fondo)
  );
  color: var(--color-titulo);
}

.menu-user {
  display: flex;
  align-items: center;
  gap: 14px;
}

.menu-user ion-avatar {
  width: 60px;
  height: 60px;
}

.menu-user h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.menu-user p {
  margin: 0;
  opacity: 0.7;
  font-size: 0.9rem;
}

/* Lista */

.menu-list ion-item {
  --background: transparent;
  --color: var(--color-texto);

  margin: 6px 12px;
  border-radius: 14px;
  transition: 0.3s;
}

.menu-list ion-item:hover {
  --background: var(--color-card, #1c1c1e);
}

/* Logout */

.custom-menu ion-footer {
  --background: var(--color-card, #1c1c1e);
  background: var(--color-card, #1c1c1e);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.logout-item {
  margin: 12px;
  border-radius: 16px;

  --color: #ff4d4d;
  --background: transparent;

  border: 1px solid rgba(255, 77, 77, 0.3);

  transition: all 0.3s ease;
}

.logout-item:hover {
  --background: rgba(255, 77, 77, 0.12);
  border-color: #ff4d4d;
}


