<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay" class="custom-menu">
    <!-- HEADER -->
    <ion-header class="menu-header">
      <div class="menu-user">
        <ion-avatar>
          <img src="https://i.pravatar.cc/150?img=12" />
        </ion-avatar>

        <div>
          <h2>Music App</h2>
          <p>Bienvenido 🎧</p>
        </div>
      </div>
    </ion-header>

    <!-- CONTENIDO -->
    <ion-content>
      <ion-list class="menu-list">
        <!-- Intro -->
        <ion-item button (click)="goToIntro()">
          <ion-icon name="play-circle-outline" slot="start"></ion-icon>
          <ion-label>Intro</ion-label>
        </ion-item>

        <!-- Cambiar tema -->
        <ion-item (click)="cambiarTema()">
          <ion-icon name="moon-outline" slot="start"></ion-icon>
          <ion-label>Cambiar tema</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <!-- FOOTER -->
    <ion-footer>
      <ion-item button (click)="logout()" lines="none" class="logout-item">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
