/* HEADER */
.header-yt ion-toolbar {
  --background: var(--color-card);
  --color: var(--color-texto);
  font-weight: 600;
}

/* CONTENT */
.yt-content {
  --background: var(--color-fondo);
  color: var(--color-texto);
  padding-bottom: 90px;
}

/* SECCIONES */
.yt-section {
  padding: 20px 16px;
}

.yt-section h3 {
  font-size: 1.2rem;
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--color-titulo);
}

/* CARDS BASE */
.yt-card {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.yt-card:hover {
  transform: scale(1.03);
}

.yt-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

/* GENEROS */
.genre h4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 700;
  color: white;
}

.genre .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

/* ALBUM */
.album h5 {
  margin-top: 6px;
  font-size: 0.9rem;
  color: var(--color-texto);
}

/* ARTISTAS */
.artist img {
  border-radius: 50%;
  height: 120px;
}

.artist h5 {
  text-align: center;
  margin-top: 6px;
  font-size: 0.85rem;
  color: var(--color-texto);
}

/* MINI PLAYER */
.mini-player {
  background: var(--color-card);
  color: var(--color-texto);
  padding: 10px 14px;
}

.player-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-info small {
  color: #aaa;
  display: block;
}

.genre-card,
.album,
.artist {
  background: var(--color-card);
  color: var(--color-texto);
}

ion-content {
  --background: var(--color-fondo);
  transition: background 0.4s ease;
}

ion-footer ion-toolbar {
  --background: var(--color-card);
  color: var(--color-texto);
}
